.Countdown {
    display: inline-block;
    width: 18rem;
    margin: 1.6rem;
    cursor: pointer;
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.date {
    text-align: center;
    margin: 0.5rem 0;
}

.intervals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}