.Countdown {
    display: inline-block;
    width: 18rem;
    margin: 1rem;
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.intervals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}