.Countdowns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.newCountdown {
    text-decoration: none;
    border: none;
    color: var(--button-text);
    background-color: var(--button-color);
    padding: 8px;
    border-radius: 5px;
    margin: 3rem 3rem 4px 3rem;
}

.deleteText {
    font-size: 0.7rem;
}