.Option {
    display: block;
    margin: 1rem;
}

.title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.optionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.optionGrid div {
    padding: 0.4rem 0;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}