.Option {
    display: block;
    margin: 2rem 1rem;
    cursor: pointer;
}

.title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.optionGrid {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.optionChoice {
    padding: 0.4rem 0;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: var(--text-color);
    color: white;
}

@media (prefers-color-scheme: dark) {
    .selected {
        color: black;
    }
}