.NavBar {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: white;
    color: var(--accent-color);
    box-shadow: 1px 0px 4px #ccc;
    border-radius: 16px 16px 0 0;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    color: var(--button-color);
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    .NavBar {
        background-color: black;
        border-bottom: 0.5px solid #ccc;
    }
}